# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.venv/
venv/
.env
.env.*

# Tools
.pyrightcache/
.mypy_cache/
.ruff_cache/
pytest_cache/

# Local cache and app artifacts
.cache/
.crush/

build/
/*.wav
/temp.png
/talkie.log

.coverage*
coverage.xml

.git/
.zed/

talkie/data/l9
talkie/data/magnetic
